
@{
    ViewBag.Title = "Double";
    Layout = "~/Views/Shared/_LayoutUserNotRegisted.cshtml";
}


@{
    ViewBag.Title = "Single";
    Layout = "~/Views/Shared/_LayoutUserNotRegisted.cshtml";
}

<h2> ห้องเดี่ยว </h2>

<table id="listRoom" class="table">
    <th>
    <tr>


        <img src=@Url.Content("~/Content/images/double3.jpg") style="width: 300px; height: auto" ;max-height:100% />

    </tr>

    <tr>
        <img src=@Url.Content("~/Content/images/double1.jpg") style="width: 300px; height: auto" ;max-height:100% />
    </tr>

    <tr>
    </tr>
    <tr>
        <img src=@Url.Content("~/Content/images/double2.jpg") style="width: 300px; height: auto" ;max-height:50% />
    </tr>
    </th>

    <th>


        <p>
            เตียงนอนขนาดกว้างให้ท่านพักผ่อนอิริยาบถได้อย่างสะดวกสบาย ในห้องนอนรวม จำนวน 15 เตียง พร้อมที่เก็บของ และปลั๊กไฟส่วนตัว

            ของใช้ภายในห้องพักรวม: ห้องน้าในตัวแยก ชาย-หญิง, แอร์, ระบบคีย์การ์ด
        </p>
    </th>
    <th>
        15 wide single beds in dormitory rooms with storage and private plug.

        Dormitory’ Stuffs : bathroom separated by gender, Air-condition and keycard system etc.


    </th>




</table>
